{% extends 'main/base.html' %}


{% block title %}
    Login
{% endblock %}


{% block content %}

{% load static %}
<br>
<div class="container">
    <div class="row">
        <div class="col s12 m8 l8">
            <div class="card">
                
                <div class="card-body">
                    <h3 class="text-center">Login To Your Account</h3>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control"><br>
                
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control"><br>
                        {% if error_message %}
                        <i id="finish2">Please Check your Username or Password</i>
                        <br>
                    {% endif %}
                        <br>
                        <input type="submit" class="btn btn-danger" value="Login">
                        <br><br>

                        <i>Not Registered? Register a Free Account</i><a href="{% url 'accounts:register_user' %}"> Here!</a>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}